$primary-color: #FF0DFF
$secondary-color: #E2E8F0
$primary-color-active: #EE05EE

$color-black: #000
$color-white: #FFF
$color-grey-hover: #EDF2F7
$color-warning: #FFF55C


$heading-family: CraftworkGrotesk,sans-serif
$body-family: Euclid Circular A,sans-serif

$font-size-sm: 0.875rem
$font-size-xxl: 65px
$font-sizes-lg: 1.125rem
$font-size-section-title: 2.25rem

$font-weigt-m: 700