@use 'theme'
h1
   font-size: 50px
   line-height: 58px
   font-family: theme.$heading-family
   color: theme.$color-white
   text-align: center
   font-weight: theme.$font-weigt-m

h2:first-child
    text-transform: uppercase
    line-height: 1.33
    font-weight: theme.$font-weigt-m
    letter-spacing: 9px
    font-size: theme.$font-size-sm
    text-align: center
    margin-top: 2rem
    margin-bottom: 3rem
    color: theme.$primary-color
    font-family: theme.$body-family

.title-content
    position:relative
    grid-template-columns: repeat(1, 1fr)
    margin:0px
    width:100vw
    height:100vh
    overflow:auto
    width: 30%
    height: 100%
    margin: 0 auto
    padding: 10px



span
    padding-inline-end: 0.25rem
    text-transform: uppercase
    border-radius: 0.125rem
    font-weight: theme.$font-weigt-m
    font-size: theme.$font-size-sm
    font-family: theme.$heading-family
    letter-spacing: 3px
    color: theme.$color-white
    background: clear
    border: 1px solid white
    display:block
    padding-inline-start: 0.25rem
    padding-inline-end: 0.25rem
    display: block
    text-align: center

p
    margin-top: 0.4rem
    margin-inline-end: 0px
    margin-bottom: 0.6rem
    margin-inline-start: 0px
    color: theme.$color-white
    text-align: center
    line-height: 1.25rem
    font-weight: 500
    font-size: theme.$font-size-sm
    max-width: 14rem
    font-family: theme.$body-family
ul
    overflow-x: auto
    white-space: nowrap
    padding: 5px 70px 5px 20px
    background: transparent
    height: 100%
    display: inline-flex
    margin: 0px
    width: 100vw
    border-radius: 15px
section:first-child
    background-size: cover
    background-repeat:   no-repeat
    background-position: center center
    object-fit: contain
    background-image:  radial-gradient(circle at center, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.7)), url("https://www.what-song.com/_next/image?url=%2Fassets%2Fimages%2Fbanners%2Feuphoria-2.jpeg&w=2048&q=75")
    width: 100%
    background-position: center top
    height: 350px
    display:block
    margin:0px
    width:100vw
    height:autovh
    display: inline-block
    height: 100%
    max-width: 100%

//BUTTON STYLES
button
    background: theme.$color-white
    border: none
    cursor: pointer
    min-height: 35px
    min-width: 35px

button:hover
    background: theme.$color-grey-hover

.button-border


.active
    background: theme.$primary-color
    color: theme.$color-white
    border: 2px solid theme.$color-black
.active:hover
    background: theme.$primary-color-active

.button-warning
    background: theme.$color-warning
    opacity: 75%

.button-warning:hover
    background: theme.$color-warning
    opacity: 100%



